.container {
  position: fixed;
  font-size: 1.5em;
  display: block;
  top: 0;
  right: 0;
  z-index: 5;
  height: 2.5em;
  cursor: pointer;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
