.logoContainer__styles-module__2tEtZ {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid rgba(37, 39, 41, .05);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 2.9em;
}

.logo200__styles-module__1Gwt6 {
  display: block;
  width: 200px;
  height: 100px;
  background-image: url(/images/logo-300.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.hoverDim__styles-module__36zkF a {
  color: #000;
  position: relative;
}
.hoverDim__styles-module__36zkF a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #000;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

.hoverDim__styles-module__36zkF > a:hover:before,
.hoverDim__styles-module__36zkF > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.emptyField__styles-module__1j2Wb {
  text-align: center;
}

.table__styles-module__3e-n8 {
  border-collapse: collapse;
  text-align: left;
  display: table;
}

.table__styles-module__3e-n8 header {
  display: table-header-group;
  font-weight: bold;
}


.table__styles-module__3e-n8 span {
  display: table-cell;
  vertical-align: middle;
  padding: .5em;
}

.table__styles-module__3e-n8 a {
  color: #428bca;
  display: table-row;
}

.table__styles-module__3e-n8 a:hover {
  background-color: #f4f6ff;
  text-decoration: none;
}

.titleSortingASC__styles-module__I4yOL, .titleSortingDESC__styles-module__13ix5, .titleNotSorting__styles-module__VQvQf {
  cursor: pointer;
}

.titleSortingASC__styles-module__I4yOL:after {
  content: '\25BC';
  font-size: 0.7em;
  margin-left: 0.3em;
  line-height: 1em;
  margin-top: -0.5em;
  display: inline-block;
}

.titleSortingDESC__styles-module__13ix5:after {
  content: '\25B2';
  font-size: 0.7em;
  margin-left: 0.3em;
  line-height: 1em;
  margin-top: -0.5em;
  display: inline-block;
}
.tabs__styles-module__3vwif {
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.tab__styles-module__2Wr2o {
  padding: 1em;
  border-left: 1px solid #000;
  cursor: pointer;
}

.tab__styles-module__2Wr2o:first-child {
  border-left: none;
}

.tab__styles-module__2Wr2o:last-child {
  border-right: 1px solid #000;
}

.tab__styles-module__2Wr2o:not(.activeTab__styles-module__26WZ9):hover {
  background-color: #000;
  color: #fff;
}

.activeTab__styles-module__26WZ9 {
  background-color: #333;
  color: #fff;
}
.heading__styles-module__3P4e_ {
}

.list__styles-module__3z69m {
  display: block;
  margin: auto auto;
}

.item__styles-module__1qR4f {
  float: left;
  background-color: #bebebe;
  background-size: cover;
  margin: 1vw;
  height: 70vw;
  width: 70vw;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  text-decoration: none !important;
}

.overlay__styles-module__nmi01 {
  height: 45%;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}

.item__styles-module__1qR4f:hover .overlay__styles-module__nmi01 {
  display: block;
}

@media(min-width: 320px) {
  .item__styles-module__1qR4f {
    height: 38vw;
    width: 38vw;
  }
}

@media(min-width: 750px) {
  .item__styles-module__1qR4f {
    height: 28vw;
    width: 28vw;
    margin: .5vw;
  }
}

@media(min-width: 960px) {
  .item__styles-module__1qR4f {
    margin:7px;
    width: 150px;
    height: 150px;
  }

  .item__styles-module__1qR4f:first-child {
    width: 313px;
    height: 313px;
  }
}
.releasedOn__styles-module__1fJ_E {
  font-size: 17px;
}

.artwork__styles-module__1DU7A {
  display: block;
  background-size: cover;
  width: 250px;
  height: 250px;
}
.background__styles-module__FVIsD {
  background-image: url('/images/waterfall.jpg');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.logo__styles-module__3HrMV {
  display: block;
  width: 400px;
  height: 100px;
  background-image: url(/images/logo-300.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto auto;
}

.logoWrap__styles-module___J3L6 {
  width: 100%;
}

.bio__styles-module__2mzFI {
  float: right;
  font-size: 17px;
}

.bio__styles-module__2mzFI, .bio__styles-module__2mzFI a {
  color: #000;
  padding: 2px;
  text-shadow: -1px 1px 0 #fff, 0px -1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 1px 1px 0 #fff;
}

.bio__styles-module__2mzFI p {
  width: 190px;
}

.bio__styles-module__2mzFI a {
  text-decoration: none;
  color: #000 !important;
}

.bio__styles-module__2mzFI ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__styles-module__2q91F{
  margin-top: 30px;
  font-size: 20px;
}

.embed__styles-module__-IeOY {
  margin-top: 20px;

}


.right__styles-module__3bNRv {
  float: right;
}
