.breadcrumbs {
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
}

.breadcrumb {
  font-weight: bold;
}

.breadcrumb:after {
  content: "/";
  color: black;
  padding-left: .5em;
  padding-right: .5em;
}

.breadcrumb:last-child:after {
  content: "";
}

a.breadcrumb {
  text-decoration: none;
  background:none;
}

a.breadcrumb:hover {
  text-decoration: none;
}
