.table {
  border-collapse: collapse;
  text-align: left;
  display: table;
}

.table header {
  display: table-header-group;
  font-weight: bold;
}


.table span {
  display: table-cell;
  vertical-align: middle;
  padding: .5em;
}

.table a {
  color: #428bca;
  display: table-row;
}

.table a:hover {
  background-color: #f4f6ff;
  text-decoration: none;
}
