.logo200 {
  display: block;
  width: 200px;
  height: 100px;
  background-image: url(/images/logo-200.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
