.blog-post-body *{
  max-width: 100%;
  overflow: auto;
}

.blog-post-body {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  max-width: 100%;
  width: calc(100% - 80px);
  color: #1b2733;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.blog-post-body h1 {
  margin-top: 30px;
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 36px;
  word-spacing: 1px;
  font-weight: bold;
}

.blog-post-body h2 {
  margin-top: 18px;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 28px;
  word-spacing: .5px;
  font-weight: bold;
}

.blog-post-body h3 {
  font-size: 1em;
  font-weight: bold;
}

.blog-post-body blockquote{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: .87;
  clear: both;
  border-left: .25em solid #80AAFF;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-style: italic;
}
.blog-post-body table td:first-child, .blog-post-body table th:first-child{
  border-right: 1px solid;
}
.blog-post-body table th{
  border-bottom: 1px solid;
}
.blog-post-body th, .blog-post-body td{
  padding: 1em;
}

.blog-post-body pre, .blog-post-body code {
  font-family: SourceCodePro,monospace;
  font-weight: normal;
  background-color: #f7f9fa;
  color: #1b2733;
  border: 1px solid #e6e8eb;
  padding: 4px 8px 3px;
  cursor: text;
  list-style-type: none;
  word-spacing: normal;
}

.blog-post-body pre {
  font-size: 14px;
  min-width: 2px;
  line-height: 20px;
  word-break: break-all;
  display: block;
}

.blog-post-body code {
  z-index: 0;
}

.blog-post-body pre code{
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  word-break: break-all;
  border: none;
  border-radius: 0;
}

.blog-post-body table{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-collapse: collapse;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.239216) 0px 1.60000002384186px 1.60000002384186px 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: table;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  position: relative;
  text-align: start;
  vertical-align: top;
  white-space: normal;
}

.blog-post-body aside{
  width: 250px;
  float: right;
  margin: 2em;
  padding: 1em;
  background-color: #F7F7F7;
}

.blog-post-body ol, .blog-post-body li{
  overflow: initial;
}

@media (max-width: 650px){
  .blog-post-body aside:not(.nohide){
    display: none;
  }
  .blog-post-body aside.nohide{
    float: none;
  }
}

.blog-post-body .caption {
  padding: 1em;
}

.blog-post-body .image.block {
  width: 100%;
  overflow: hidden;
}

.blog-post-body .image {
  background-color: #F7F7F7;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
