.site {
  font-family: 'Helvetica Neue', HelveticaNeue, Arial, sans-serif;
  font-size: 16px;
}

.content {

}

a:visited {
  color: blue;
}

a, a:visited, a:hover {
  color: #0070e0; /* paper-blue */
  text-decoration: none;
}
