/* add css styles here (optional) */

.tile {
  font-size: 15px;
  padding: 1em;
  box-sizing: border-box;
}

.tile h2 {
  font-weight: normal;
}

.tile h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.tile h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
}

.tile h5 {
  font-weight: normal;
}

.header {
  width: 99%;
  height: 10em;
}

.topBar {
  height: 2em;
  display: flex;
  align-items: center;
  font-size: 2em;
  position: relative;
}

.headerRight {
  margin-left: 50%;
}

.logo {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 350px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.colorGrid {
  display: flex;
  flex-flow: row nowrap;
}

.colorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: .4em;
}

.textureGrid {
  display: flex;
  flex-flow: row nowrap;
}

.textureBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-size: contain;
}

.buttonGrid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 2em;
}

.button {
  padding:.5em;
  cursor: pointer;
  border: 1px ridge #000;
}

.halves {
  display: flex;
  flex-flow: row nowrap;
}

.halves > * {
  min-width: 500px;
  padding-right: 1em;
}

.adjectiveGrid {
  display: flex;
  flex-flow: row wrap;
}

.adjective {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: .2em;
  box-sizing: border-box;
}
