---
layout: default
---

<script> 
  var Component = App.pages.album
  if(Component){
    ReactDOM.render(React.createElement(Component, {
      pathname: window.location.pathname,
      page: {{ page.title | jsonify }},
      slug: {{ page.slug | jsonify}},
      release: {
        title: {{ page.title | jsonify }},
        released_on: {{ page.released_on | jsonify }},
        type: {{page.type | jsonify}},
        tracklist: {{ page.tracklist| jsonify }},
      },
    }), document.body)
  }
</script>
