.overlay a, .overlay a:visited, .overlay a:hover {
  color: black !important; /* paper-blue */
  text-decoration: none;
}

.overlay {
  background-color: white;
  color: black;
  position: fixed;
  top: 58px;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  padding-top: 3em;
  transition-property: top;
  transition-duration: .5s;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction:  column;
}

.navItem, .navItem:visited {
  font-size: 1.5em;
  text-decoration: none !important;
  background-image: none;
  text-shadow: none;
  color: black;
  width: 100%;
  height: 90px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
}

.copyright {
  font-size: .7em;
}
