.background {
  background-image: url('/images/waterfall.jpg');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  width: 400px;
  height: 100px;
  background-image: url(/images/logo-200.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto auto;
}

.logoWrap {
  width: 100%;
}

.bio {
  float: right;
  font-size: 17px;
}

.bio, .bio a {
  color: #000;
  padding: 2px;
  text-shadow: -1px 1px 0 #fff, 0px -1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 1px 1px 0 #fff;
}

.bio p {
  width: 190px;
}

.bio a {
  text-decoration: none;
  color: #000 !important;
}

.bio ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social{
  margin-top: 30px;
  font-size: 20px;
}

.embed {
  margin-top: 20px;

}


.right {
  float: right;
}
